extends layout

block scripts
    script(type='text/javascript', src='/javascripts/main.js')

block styles
    link(rel='stylesheet', href='/stylesheets/upload.css')

block content
    h1 Please choose your file


    .filecontent#filecontent

    .upload
      .uploadContainer#uploadContainer
        h2 Drag pdf file here.

        //form(method="post", enctype="multipart/form-data", action="/upload")
            input(type="file", name="pdfFile")
            input(type="submit", value="Submit")

      .uploadProgress#uploadProgress
        .progressBar
          .uploadBlocker
          .uploadCount 0%
        .uploadResult
